@{

}
<html>

<header>
    <nav class="menu">
        <div class="logo"> BIRTHDAY MANAGER </div>
        <ul>
            <li> <a> @Html.ActionLink("Home", "Index","Friends") </a> </li>
            <li> <a> @Html.ActionLink("Birthday","Birthday", "Friends") </a> </li>
            <li> <a> @Html.ActionLink("Talk to us","Form", "Friends") </a> </li>
        </ul>
    </nav>

   

</header>


</html>


