
@{
}
<div class="error">
    <img  src="~/images/error.png" width="500px" height="350px"/>
    <br />
    <br />
    <h1>Erro na aplicação.</h1>
    <br />
    <p>Caro usuário, pedimos desculpas!</p>
    <p>Aconteceu um erro inesperado</p>
    <br />
    <p>Nossa equipe trabalhará para corrígi-lo o mais rápido possível!</p>
</div>